{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<body>
    <header class="header-dark">
        <div class="container hero">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center">Your Fitness Journey Starts Here</h1>
                    <br>
                    <h2 class="text-center">Fit Quick Workout Plans</h2>
                    <br>
                </div>
            </div>
            <section class="article-list">
                <div class="container" >
                    <br>
                    <div class="row projects">
                        <div class="col-sm-6 col-lg-4 item">
                            <h3 class="name">Cardio</h3>
                            <p class="description"><br>Breaking a sweat and getting your heart thumping may or may not be your idea of a fun afternoon. But getting in a cardio workout a few times a week has health benefits your body will thank you for (and we’re not just talking about weight loss).<br><br></p><a href="https://greatist.com/fitness/best-cardio-workouts" target="_blank">Click Here</a>
                        </div>
                        <div class="col-sm-6 col-lg-4 item">
                            <h3 class="name">Full Body</h3>
                            <p class="description"><br>A 3-day full body workout is the most effective way to target all muscle groups without spending all week at the gym.<br><br></p><a href="https://betterme.world/articles/3-day-full-body-workout/" target="_blank">Click Here</a>
                        </div>
                        <div class="col-sm-6 col-lg-4 item">
                            <h3 class="name">Home Workouts</h3>
                            <p class="description"><br>As the Lightning Seeds absolutely did not sing: It’s coming home, it’s coming home, it’s coming, exercise is coming home because of COVID-19.&nbsp;<br><br></p><a href="https://www.coachmag.co.uk/workouts/home-workouts" target="_blank">Click Here</a>
                        </div>
                        <div class="col-sm-6 col-lg-4 item">
                            <br><h3 class="name">Upper Body</h3>
                            <p class="description"><br>Grow your muscles by following this workout for 3 rounds. Choose weights that challenge you, but allow you to maintain form and complete the reps.<br><br></p><a href="https://www.fitnessfirst.com.au/get-there/hypertrophy-upper-body-workout/" target="_blank">Click Here</a>
                        </div>
                        <div class="col-sm-6 col-lg-4 item">
                            <br><h3 class="name">Lower Body</h3>
                            <p class="description"><br>Leg day has a bad rep. Sure, after your first big leg workout you might worry that you’ll never walk again when you wake up with the very worst kind of DOMS, but once you’re over that hump you’ll start to look forward to leg day as a chance to test yourself and burn huge amounts of calories, thanks to the fact you’re using the biggest muscle groups in the body.<br><br></p><a href="https://www.coachmag.co.uk/leg-workouts/8412/leg-day-workout" target="_blank">Click Here</a>
                        </div>
                        <div class="col-sm-6 col-lg-4 item">
                            <br><h3 class="name">Active Recovery</h3>
                            <p class="description"><br>An active recovery workout involves performing low-intensity exercise following a strenuous workout. Examples include walking, yoga, and swimming.&nbsp;<br><br></p><a href="https://www.healthline.com/health/active-recovery" target="_blank">Click Here</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>
</body>

</html>

{% endblock content %}